
@media (min-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        /* gap: 10%; */
    
        height: 100vw;
        overflow: hidden; 
    }
    
    .slideshow-container {
        width: 90%; /* 화면의 2/3을 차지하도록 설정 */
        overflow: hidden;
        /* position: relative; */
    }

    .slideshow-container > div {
        display: flex;
        flex-direction: row;
    }
    
    .slide {
        position: absolute; /* 이미지가 겹치도록 설정 */
        opacity: 0;
        transition: opacity 0.5s ease; /* 트랜지션 효과: opacity 속성에 적용 */
    }
    
    .slide.active {
        opacity: 1;
    }
    
    .slide img {
        width: 70vw;
        height: auto;
    }
    
    .textbox {
        width: 30vw;
        /* position: absolute;
        left: 10px;
        top: 10px; */
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.95); /* 알파 값(0에서 1 사이)을 조절하여 투명도를 지정합니다. */
        padding: 10px;
        z-index: 999;
    }
}

/* 미디어 쿼리: 화면 너비가 600px 이하일 때 적용 */
@media (max-width: 600px) {
    body {
        flex-direction: column; /* 모바일일 때 column으로 변경 */
        gap: 0; /* 여백 제거 또는 조정 */
        height: auto; /* 높이 초기화 또는 조정 */
        overflow: visible;
    }

    .slide {
        position: absolute; /* 이미지가 겹치도록 설정 */
        opacity: 0;
        transition: opacity 0.5s ease; /* 트랜지션 효과: opacity 속성에 적용 */
    }
    
    .slide.active {
        opacity: 1;
    }

    .slide img{
        width: 100vw;
    }
}